.user-details {
  background-color: #851400;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


