form {
  ;
}

form > label {
  background-color: blueviolet;
}
#tweet-input {
  display: flex;
  flex-direction: row;
  border-bottom: 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

