
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}
form > div > label {
  display: flex;
  align-items: flex-end;
}
#tweet-input {
  display: flex;
  flex-direction: row;
  border-bottom: 5px;
  border-bottom-color: black;
  border-bottom-style: solid;
  align-items: flex-end;
  margin: 5px;
  padding: 5px;
  justify-content: space-between;
}

form > div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}


form > div > button {
  display: flex;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: white;
  border: none;
}